<p id="notice"><%= notice %></p>

<% if !@company.nil? %>
  <%= @company.number %>
<% end %>

<h1>Company Search</h1>

  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Company name:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

